<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="./images/icon2.jpg">
</head>
<body>
    
<div class="container">
    <div class="kvcet">
        <img src="./images/logo.png">

    </div>
    <h1 class="heading">CANDIDATES</h1>

    <div class="box-container">
        <div class="hold_img">
        <div class="box1">
            <img src="./images/Karpaga (1).png">
        </div>
       
        <div class="box2">
            <img src="Purple and Blue, Illustrative, Vote Campaign Posters.png">
        </div>
    </div>
    <div class="container2">
        <div class="box">
            <img src="./images/mad.png">
            <h3>DR.C.Jayapratha</h3>
            <h4>Moblie Application Development</h4>
            <button id=""  class="btn"> VOTE</button>
        </div><br><br>
        <div class="box">
            <img src="./images/adt.jpg">
            <h3>DR.A.B.Hajira Be</h3>
            <h4>Advanced Database Technology</h4>
            <button id="" class="btn"> VOTE</button>
        </div><br><br>
        <div class="box">
            <img src="./images/software.png">
             <h3>MR.R.Ramasamy</h3>
             <h4>Software Application Maintance</h4>
             <button id="" class="btn"> VOTE</button>
        </div><br><br>
        <div class="box">
            <img src="./images/fullstack.jpg">
            <h3>MR.Syed Raffi Ahamed</h3>
            <h4>Fullstack Web Development</h4>
            <button id="" class="btn"> VOTE</button>
        </div><br><br>
        <div class="box">
            <img src="./images/cloud.jpg">
             <h3>Mrs.J.Uma</h3>
             <h4>Cloud Computing Technology</h4>
             <button id="" class="btn"> VOTE</button>
        </div><br><br>
        <div class="box">
            <img src="./images/cyber.jpg">
            <h3>Mrs.Bhuvaneshwari</h3>
            <h4>Cyber Security</h4>
            <button id="" class="btn"> VOTE</button>
        </div><br><br>
    </div>
    </div>

</div>

</body>
</html>