@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.kvcet img{
    position: fixed;
    margin:5px;
    margin-left:15px;
    width:150px;
    padding:px
}
.container{
    background-image: linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);
    background-image:url('https://i.pinimg.com/736x/91/8c/78/918c78f638c758e24e780b0dc34c880a.jpg') ;
    background-size: cover;
    justify-content: center;
    min-height: fit-content;
    min-width: fit-content;

}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#2e3030;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.hold_img{
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 100px;

}
.container2{
    margin-top: 40px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 10px;
}
.box{
    margin-left: 340px;
    margin-right: 350px;
}
 .box1 img{
    height: 450px;
    width: 340px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 50px;
    position: fixed;
    
    

}
.container .box-container .kvcet  img{
    display: flex;
    justify-content: center;
    padding-left: 800px;
    padding-top: 80px;
    
}

 .box2 img {
    height: 400px;
    width: px; /* You should specify the width, for example, width: auto; */
    margin-top: 50px;
    position: fixed;
    margin-left: 950px;
    z-index: -1; /* This will push the image back */
}

.container .box-container .box img{
    display: block;
    margin-left: auto;margin-right: auto;
    border-radius: 50%;
    height: 180px;
    width: 200px;
}
.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    cursor:grab;
}
.box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.05);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
